<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBd3XNq_oxfiBcfFhdSB33p9KFgID4H5xw</string>
	<key>GCM_SENDER_ID</key>
	<string>58572093982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mfg.MFG-ChatAppMVVM</string>
	<key>PROJECT_ID</key>
	<string>chatappmfg</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappmfg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58572093982:ios:1a41c86abb7462ffe40c0f</string>
</dict>
</plist>